.Rproj.user
.RData
.Rhistory
*.log
log.txt

# TIMESAT
TSF/
# data/
*.csv
*.rda
*.RDS

# Figures
*.pdf
*.tif
*.svg
*.png
*.jpg
*.emf
*.html

# TEMP
test/temp/
doc/
parallel.R

notebook
*.ipynb
inst/extdata/userguide
*.json
*.geojson
data-raw/ArcGIS
data-raw/shp

*.xlsx
*.RData
*.nc
